:root {
    --r-background-color: #e65100;
    --r-main-font: Source Sans Pro, Helvetica, sans-serif;
    --r-main-font-size: 42px;
    --r-main-color: #fff;
    --r-block-margin: 20px;
    --r-heading-margin: 0 0 20px 0;
    --r-heading-font: Source Sans Pro, Helvetica, sans-serif;
    --r-heading-color: #fff;
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: uppercase;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: 600;
    --r-heading1-text-shadow: none;
    --r-heading1-size: 2.5em;
    --r-heading2-size: 1.6em;
    --r-heading3-size: 1.3em;
    --r-heading4-size: 1em;
    --r-code-font: monospace;
    --r-link-color: #402e32;
    --r-link-color-dark: #402e32;
    --r-link-color-hover: #8dcffc;
    --r-selection-background-color: #bee4fd;
    --r-selection-color: #fff;
}
